#chat {
  height: 300px;
  overflow-y: auto;
  background: rgba(0,0,0,0.7);
  padding: 10px;
  border-radius: 8px;
  text-align: center; 
  z-index: 3;
}

/*  pas mon code...  */
#chat::-webkit-scrollbar {
    display: none;
}

h1 {
  color: yellow;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  z-index: 3;
}

html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#container{
  background-color: black;
  font-family: "Starjedi", sans-serif;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  color: yellow;
  z-index: 0;
}

.star-destroyer{
  background-image: url("../img/star-destroyer.png");
  position:absolute;
  background-size: cover;
  width: 130px;
  height: 50px;
  top:0px;
  left:0px;
  z-index: 0;
}

#input {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}

textarea {
  padding: 10px;
  position: absolute;
  z-index: 3;
  width: 50%;
  background-color: black;
  border: 0.5px solid yellow;
  color: yellow;
  font-family: "Starjedi", sans-serif;
}

textarea:focus {
  outline: none;
}

.star {
  position:absolute;
	top:0px;
	left:0px;
	background-color:white;
  z-index: 1;
}

.publique { 
  color: yellow; 
  z-index: 3;
}
.prive { 
  color: red;
  z-index: 3;
}